<div class="c-advertisement c-advertisement--leaderboard">
  <!-- /21704376897/Leaderboard -->
  <div class="c-advertisement__desktop">
    <div id='div-gpt-ad-1524205003572-0' style='height:90px; width:728px;'>
    <script>
    googletag.cmd.push(function() { googletag.display('div-gpt-ad-1524205003572-0'); });
    </script>
    </div>
  </div>
  <!-- <img class="c-advertisement__desktop" src="https://lh3.googleusercontent.com/Sh7SH08FZ6pVcq7dxVgc3FmuW0wLFM-0cvYPRYxDFeB4vZ0GLS5qibRWO-4KXxl_tKo=w728-h90" /> -->
  <img class="c-advertisement__mobile" src="https://lh3.googleusercontent.com/cNLRHnNosV0KsyhKMrAy1rTagpDfLH7rTMcRrVn9jGueYJh0G8V7Kb5OMI_Jg3dRO3As=w320-h50" />
</div>
