<div class="c-advertisement c-advertisement--leaderboard">
  <!-- /21704376897/Leaderboard -->
  <div class="c-advertisement__desktop">
    <div id='div-gpt-ad-1524205003572-0' style='height:90px; width:728px;'>
    <script>
    googletag.cmd.push(function() { googletag.display('div-gpt-ad-1524205003572-0'); });
    </script>
    </div>
  </div>
  {% if not hide_mobile %}
  <!-- /21704376897/Mobile_Leaderboard -->
  <div id='div-gpt-ad-1530722739897-0' style='height:50px; width:320px;'>
  <script>
  googletag.cmd.push(function() { googletag.display('div-gpt-ad-1530722739897-0'); });
  </script>
  </div>
  {% endif %}
</div>
