<article class="c-article c-article--3">
  <div class="c-article__info">
    <a class="c-article__tag">Engineering</a>
    <h2 class="c-article__headline">14 Women Not Forgotten</h2>
    <span class="c-article__meta">Sun Dec 3, 2017 Dayne Patterson - News Editor</span>
    <p class="c-article__description">This past week the Women in Engineering hosted a 3-day event from November 26-28 titled “14 Not Forgotten.” The event was hosted to commemorate the 14 women who lost their lives during the mass shooting at l’École Polytechnique in Montréal on December 6, 1989.</p>
  </div>
</article>
