{% load phoenix %}
<article class="c-article c-article--6">
  <div class="c-article__image-container">
    <a
      class="c-article__image"
      href="{% article_url article %}"
      style="background-image: url('{{ article.featured_image.image.get_absolute_url }}');">
    </a>
  </div>
  <div class="c-article__info">
    <div>
      {% if article.topic %}
      <a class="c-article__tag">{{ article.topic.name }}</a>
      {% else %}
      <a class="c-article__tag">{{ article.section.name }}</a>
      {% endif %}
      <h2 class="c-article__headline"><a href="{% article_url article %}">{{ article.headline }}</a></h2>
      <span class="c-article__meta">By {{ article.get_author_string }}&nbsp;&nbsp;&middot;&nbsp;&nbsp;{{ article.published_at|date:"F d, Y P" }}</span>
    </div>
  </div>
</article>
