{% load phoenix %}
{% load humanize %}
<article class="c-article c-article--2">
  <div class="c-article__image-container">
    <a
      class="c-article__image"
      href="{% article_url article %}"
      style="background-image: url('{{ article.featured_image.image.get_medium_url }}');">
    </a>
  </div>
  <div class="c-article__info">
    <a href="{% article_url article %}">
      <div class="c-article__tag">{% article_tag article %}</div>
      <h2 class="c-article__headline">{{ article.headline }}</h2>
      <div class="c-article__meta">
        {% if article.get_author_string %}<div>By {{ article.get_author_string }}</div>{% endif %}
        <div class="c-article__meta__date">{{ article.published_at|naturaltime }}</div>
      </div>
      {% if article.snippet %}<p class="c-article__description">{{ article.snippet }}</p>{% endif %}
    </a>
  </div>
</article>
