{% load phoenix %}
<article class="c-article c-article--3">
  <div class="c-article__info">
    <a class="c-article__tag">{% article_tag article %}</a>
    <h2 class="c-article__headline"><a href="{% article_url article %}">{{ article.headline }}</a></h2>
    <span class="c-article__meta">{% if article.get_author_string %}By {{ article.get_author_string }}&nbsp;&nbsp;&middot;&nbsp;&nbsp;{% endif %}{{ article.published_at|date:"F jS, Y \a\t P" }}</span>
    <p class="c-article__description">This past week the Women in Engineering hosted a 3-day event from November 26-28 titled “14 Not Forgotten.” The event was hosted to commemorate the 14 women who lost their lives during the mass shooting at l’École Polytechnique in Montréal on December 6, 1989.</p>
  </div>
</article>
