{% load phoenix %}
<article class="c-article c-article--1">
  <a
    class="c-article__image"
    href="{% article_url article %}"
    style="background-image: url('{{ article.featured_image.image.get_medium_url }}');">
  </a>
  <div class="c-article__info">
    {% if article.topic %}
    <a class="c-article__tag">{{ article.topic.name }}</a>
    {% else %}
    <a class="c-article__tag">{{ article.section.name }}</a>
    {% endif %}
    <h2 class="c-article__headline"><a href="{% article_url article %}">{{ article.headline }}</a></h2>
    <span class="c-article__meta">By {{ article.get_author_string }}&nbsp;&nbsp;&middot;&nbsp;&nbsp;{{ article.published_at|date:"F d, Y P" }}</span>
    <p class="c-article__description">This past week the Women in Engineering hosted a 3-day event from November 26-28 titled “14 Not Forgotten.” The event was hosted to commemorate the 14 women who lost their lives during the mass shooting at l’École Polytechnique in Montréal on December 6, 1989.</p>
  </div>
</article>
