{% load phoenix %}
{% load humanize %}
<article class="c-article c-article--6">
  <div class="c-article__image-container">
    <a
      class="c-article__image"
      href="{% article_url article %}"
      style="background-image: url('{{ article.featured_image.image.get_absolute_url }}');">
    </a>
  </div>
  <div class="c-article__info">
    <div>
      <a class="c-article__tag">{% article_tag article %}</a>
      <h2 class="c-article__headline"><a href="{% article_url article %}">{{ article.headline }}</a></h2>
      <div class="c-article__meta">
        {% if article.get_author_string %}<div>By {{ article.get_author_string }}</div>{% endif %}
        <div class="c-article__meta__date">{{ article.published_at|naturaltime }}</div>
      </div>
    </div>
  </div>
</article>
