<article class="c-article-banner">
  <div class="c-article-banner__image" style="background-image: url('https://images.unsplash.com/photo-1475710534222-6165a8b45449?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=692683df20283d5aa6e2b058be2c000e&auto=format&fit=crop&w=1500&q=80');"></div>
  <div class="c-article-banner__info">
    <div class="c-container">
      <a class="c-article__tag">Opinions</a>
      <h2 class="c-article-banner__headline"><a>{{ article.headline }}</a></h2>
      <p class="c-article-banner__description">The real you, and the fake you. As millennials, we know that having a social media life is nearly a requirement to have a real-world social life. By no means is it impossible to have a social life without Facebook, but that’s because everyone else has it. You may not use Facebook, but you are...</p>
      <a class="c-button">Read More</a>
    </div>
  </div>
</article>
