{% load phoenix %}
<article class="c-article c-article--1">
  <div class="c-article__image-container">
    <a
      class="c-article__image"
      href="{% article_url article %}">
      <img src="{{ article.featured_image.image.get_medium_url }}" alt="{{ article.headlin }}" />
    </a>
  </div>
  <div class="c-article__info">
    {% if article.tags and article.tags.first.name %}
    <a class="c-article__tag">{{ article.tags.first.name|title }}</a>
    {% else %}
    <a class="c-article__tag">{{ article.section.name }}</a>
    {% endif %}
    <h2 class="c-article__headline"><a href="{% article_url article %}">{{ article.headline }}</a></h2>
    <span class="c-article__meta">{% if article.get_author_string %}By {{ article.get_author_string }}&nbsp;&nbsp;&middot;&nbsp;&nbsp;{% endif %}{{ article.published_at|date:"F jS, Y \a\t P" }}</span>
    <p class="c-article__description">This past week the Women in Engineering hosted a 3-day event from November 26-28 titled “14 Not Forgotten.” The event was hosted to commemorate the 14 women who lost their lives during the mass shooting at l’École Polytechnique in Montréal on December 6, 1989.</p>
  </div>
</article>
