<footer class="c-footer">
  <div class="c-container">
    <a class="c-footer__logo" href="{% url 'homepage' %}"></a>
    <div class="c-footer__items">
      <ul class="c-footer__list">
        <li class="c-footer__list__item">News</li>
        <li class="c-footer__list__item">Elections</li>
        <li class="c-footer__list__item">Topic 2</li>
        <li class="c-footer__list__item">Topic topic</li>
        <li class="c-footer__list__item">New topic test</li>
      </ul>
      <ul class="c-footer__list">
        <li class="c-footer__list__item">Lifestyle</li>
        <li class="c-footer__list__item">Elections</li>
        <li class="c-footer__list__item">Topic 2</li>
        <li class="c-footer__list__item">Topic topic</li>
        <li class="c-footer__list__item">New topic test</li>
      </ul>
      <ul class="c-footer__list">
        <li class="c-footer__list__item">Features</li>
        <li class="c-footer__list__item">Elections</li>
        <li class="c-footer__list__item">Topic 2</li>
        <li class="c-footer__list__item">Topic topic</li>
        <li class="c-footer__list__item">New topic test</li>
      </ul>
      <ul class="c-footer__list">
        <li class="c-footer__list__item">Arts</li>
        <li class="c-footer__list__item">Elections</li>
        <li class="c-footer__list__item">Topic 2</li>
        <li class="c-footer__list__item">Topic topic</li>
        <li class="c-footer__list__item">New topic test</li>
      </ul>
      <ul class="c-footer__list">
        <li class="c-footer__list__item">Sports</li>
        <li class="c-footer__list__item">Elections</li>
        <li class="c-footer__list__item">Topic 2</li>
        <li class="c-footer__list__item">Topic topic</li>
        <li class="c-footer__list__item">New topic test</li>
      </ul>
      <ul class="c-footer__list">
        <li class="c-footer__list__item">Opinions</li>
        <li class="c-footer__list__item">Elections</li>
        <li class="c-footer__list__item">Topic 2</li>
        <li class="c-footer__list__item">Topic topic</li>
        <li class="c-footer__list__item">New topic test</li>
      </ul>
      <ul class="c-footer__list">
        <li class="c-footer__list__item">About</li>
        <li class="c-footer__list__item">Volunteer</li>
        <li class="c-footer__list__item">Advertise</li>
        <li class="c-footer__list__item">Contact</li>
      </ul>
    </div>
    <div class="c-footer__copyright">&copy; {% now "Y" %} The Phoenix</div>
  </div>
</footer>
