<header class="c-large-header">
  <div class="c-large-header__banner">
    <a class="c-large-header__logo"></a>
    <p class="c-large-header__tagline">UBCO’s student newspaper since 1989</p>
  </div>
  <nav class="c-large-header__nav">
    <div class="c-container">
      <ul>
        <li class="c-large-header__nav__item">News</li>
        <li class="c-large-header__nav__item">Arts</li>
        <li class="c-large-header__nav__item">Lifestyle</li>
        <li class="c-large-header__nav__item">Sports</li>
        <li class="c-large-header__nav__item">Opinion</li>
        <li class="c-large-header__nav__item">Features</li>
        <li class="c-large-header__nav__item">About</li>
      </ul>
    </div>
  </nav>
</header>
