{% load phoenix %}
<header class="c-large-header">
  <div class="c-large-header__banner">
    <a class="c-large-header__logo"></a>
    <p class="c-large-header__tagline">UBCO’s student newspaper since 1989</p>
  </div>
    <nav class="c-large-header__nav">
      <div class="c-container">
        <ul>
          <li class="c-large-header__nav__item"><a href="{% url 'page' 'about' %}">About</a></li>
          <li class="c-large-header__nav__item"><a href="{% section_url 'news' %}">News</a></li>
          <li class="c-large-header__nav__item"><a href="{% section_url 'life' %}">Lifestyle</a></li>
          <li class="c-large-header__nav__item"><a href="{% section_url 'features' %}">Features</a></li>
          <li class="c-large-header__nav__item"><a href="{% section_url 'arts' %}">Arts</a></li>
          <li class="c-large-header__nav__item"><a href="{% section_url 'sports' %}">Sports</a></li>
          <li class="c-large-header__nav__item"><a href="{% section_url 'opinions' %}">Opinions</a></li>
          <li class="c-large-header__social__item"><a><i class="fab fa-facebook"></i></a></li>
          <li class="c-large-header__social__item"><a><i class="fab fa-twitter"></i></a></li>
          <li class="c-large-header__social__item"><a><i class="fab fa-instagram"></i></a></li>
        </ul>
      </div>
    </nav>
  </nav>
</header>
