{% load phoenix %}
<header class="c-large-header">
  <div class="c-large-header__banner">
    <a class="c-large-header__logo"></a>
    <p class="c-large-header__tagline">UBCO’s student newspaper since 1989</p>
  </div>
    <nav class="c-large-header__nav">
      <div class="c-container">
        <ul>
          <li class="c-large-header__nav__item"><a href="{% url 'page' 'about-the-phoenix' %}">About</a></li>
          <li class="c-large-header__nav__item"><a href="{% url 'section' 'news' %}">News</a></li>
          <li class="c-large-header__nav__item"><a href="{% url 'section' 'life' %}">Lifestyle</a></li>
          <li class="c-large-header__nav__item"><a href="{% url 'section' 'features' %}">Features</a></li>
          <li class="c-large-header__nav__item"><a href="{% url 'section' 'arts' %}">Arts</a></li>
          <li class="c-large-header__nav__item"><a href="{% url 'section' 'sports' %}">Sports</a></li>
          <li class="c-large-header__nav__item"><a href="{% url 'section' 'opinions' %}">Opinions</a></li>
          <li class="c-large-header__nav__item"><a href="{% url 'issues' %}">Issues</a></li>
          <li class="c-large-header__social__item"><a href="https://www.facebook.com/ThePhoenixNews/" target="_blank"><i class="fab fa-facebook"></i></a></li>
          <li class="c-large-header__social__item"><a href="https://twitter.com/ubcophoenix" target="_blank"><i class="fab fa-twitter"></i></a></li>
          <li class="c-large-header__social__item"><a href="https://www.instagram.com/ubcophoenix/" target="_blank"><i class="fab fa-instagram"></i></a></li>
        </ul>
      </div>
    </nav>
  </nav>
</header>
