<div class="c-latest-podcast">
    <iframe sandbox="allow-same-origin allow-scripts allow-top-navigation allow-popups" scrolling=no width="100%" height="185" frameborder="0" src="https://embed.radiopublic.com/e?if=self-health-G7XZpp&ge=s1!7913382b5a3bb11ff24b78f98ac2a8bdf00cf963"></iframe>
    <div class="c-latest-podcast__info">
        <div class="c-latest-podcast__label">Latest Podcast Episode</div>
        <h2 class="c-latest-podcast__title">Episode 1 - Casey Stein</h2>
        <p class="c-latest-podcast__description">Texas born student leader Casey Stein recounts his harrowing experience with OCD and how his condition caused him to experience catatonic states.</p>
        <a class="c-latest-podcast__link" href="https://radiopublic.com/self-health-G7XZpp/ep/s1!79133">Listen Now</a>
    </div>
</div>