{% load phoenix %}
<div class="c-small-header">
  <header class="c-small-header__wrapper">
    <div class="c-small-header__container c-container">
      <a href="{% url 'homepage' %}" class="c-small-header__logo"></a>
      <nav class="c-small-header__nav">
        <ul>
          <li class="c-small-header__nav__item"><a href="{% url 'page' 'about-the-phoenix' %}">About</a></li>
          <li class="c-small-header__nav__item"><a href="{% url 'section' 'news' %}">News</a></li>
          <li class="c-small-header__nav__item"><a href="{% url 'section' 'life' %}">Lifestyle</a></li>
          <li class="c-small-header__nav__item"><a href="{% url 'section' 'features' %}">Features</a></li>
          <li class="c-small-header__nav__item"><a href="{% url 'section' 'arts' %}">Arts</a></li>
          <li class="c-small-header__nav__item"><a href="{% url 'section' 'sports' %}">Sports</a></li>
          <li class="c-small-header__nav__item"><a href="{% url 'section' 'opinions' %}">Opinions</a></li>
          <li class="c-small-header__nav__item"><a href="{% url 'issues' %}">Issues</a></li>
        </ul>
      </nav>
      <nav class="c-small-header__social">
        <ul>
          <li class="c-small-header__social__item"><a href="https://www.facebook.com/ThePhoenixNews/" target="_blank"><i class="fab fa-facebook"></i></a></li>
          <li class="c-small-header__social__item"><a href="https://twitter.com/ubcophoenix" target="_blank"><i class="fab fa-twitter"></i></a></li>
          <li class="c-small-header__social__item"><a href="https://www.instagram.com/ubcophoenix/" target="_blank"><i class="fab fa-instagram"></i></a></li>
        </ul>
      </nav>
    </div>
  </header>
</div>
