<div class="c-small-header">
  <header class="c-small-header__wrapper">
    <div class="c-small-header__container c-container">
      <a class="c-small-header__logo"></a>
      <nav class="c-small-header__nav">
        <ul>
          <li class="c-small-header__nav__item">News</li>
          <li class="c-small-header__nav__item">Arts</li>
          <li class="c-small-header__nav__item">Lifestyle</li>
          <li class="c-small-header__nav__item">Sports</li>
          <li class="c-small-header__nav__item">Opinion</li>
          <li class="c-small-header__nav__item">Features</li>
          <li class="c-small-header__nav__item">About</li>
        </ul>
      </nav>
    </div>
  </header>
</div>
