{% load phoenix %}
<div class="c-subsection c-subsection--front">
  <div class="c-subsection__body">
    <div class="c-subsection__left">
      {% include 'components/article-1.html' with article=articles.0 %}
      <div class="c-subsection__row">
        <div class="c-subsection__row__item">{% include 'components/article-3.html' with article=articles.1 %}</div>
        <div class="c-subsection__row__item">{% include 'components/article-3.html' with article=articles.2 %}</div>
        <div class="c-subsection__row__item">{% include 'components/article-3.html' with article=articles.3 %}</div>
        <div class="c-subsection__row__item">{% include 'components/article-3.html' with article=articles.4 %}</div>
      </div>
      <div class="c-subsection__bottom">
        <a
          class="c-button c-button--caret-right"
          href="{% section_url slug %}">More {{ title }}</a>
      </div>
    </div>
    <div class="c-subsection__right">
      {% if issue %}
      {% include 'components/latest-issue.html' with issue=issue %}
      {% include 'components/latest-podcast.html' %}
      {% endif %}
    </div>
  </div>
</div>
