{% load phoenix %}
<div class="c-subsection c-subsection--primary">
  {% if not hidetitle %}<h3 class="c-subsection__title">{{ title }}</h3>{% endif %}
  <div class="c-subsection__body">
    <div class="c-subsection__left">
      {% include 'components/article-1.html' with article=articles.0 %}
    </div>
    <div class="c-subsection__right">
      {% include 'components/article-4.html' with article=articles.1 %}
      {% include 'components/article-4.html' with article=articles.2 %}
    </div>
  </div>
  <div class="c-subsection__footer">
    <div class="c-subsection__full">
      <a
        class="c-button c-button--caret-right"
        href="{% section_url slug %}">More {{ title }}</a>
    </div>
  </div>
</div>
