<div class="c-subsection c-subsection--secondary">
  <h3 class="c-subsection__title">News</h3>
  <div class="c-subsection__body">
    <div class="c-subsection__left">
      {% include 'components/article-2.html' %}
      <div class="c-subsection__row">
        <div class="c-subsection__row__item">{% include 'components/article-3.html' %}</div>
        <div class="c-subsection__row__item">{% include 'components/article-3.html' %}</div>
      </div>
    </div>
    <div class="c-subsection__right">
      {% include 'components/advertisement-skyscraper.html' %}
    </div>
  </div>
  <div class="c-subsection__footer">
    <div class="c-subsection__left">
      <a class="c-button c-button--caret-right">More News</a>
    </div>
    <div class="c-subsection__right"></div>
  </div>
</div>
