.c-advertisement {
  // Structure
  width: 100%;

  // Text
  text-align: center;

  img {
    // Structure
    vertical-align: bottom;
  }

  @media only screen and (min-width: $bp-desktop) {
    // Structure
    width: auto;
  }
}

.c-advertisement__mobile {
  // Structure
  display: inline-block;

  @media only screen and (min-width: $bp-desktop) {
    // Structure
    display: none;
  }
}

.c-advertisement__desktop {
  // Structure
  display: none;

  @media only screen and (min-width: $bp-desktop) {
    // Structure
    display: inline-block;
  }
}

.c-advertisement--leaderboard {
  // Structure
  padding-top: 2rem;
  padding-bottom: 2rem;

  // Border
  border-bottom: 1px solid #EFEFEF;
}

.c-advertisement--skyscraper {
  // Structure
  padding-top: 2rem;

  // Border
  border-top: 1px solid #EFEFEF;

  @media only screen and (min-width: $bp-desktop) {
    // Structure
    padding-top: 0;

    // Border
    border-top: none;
  }
}
