.c-advertisement {
  // Text
  text-align: center;

  img {
    // Structure
    display: inline-block;
  }
}

.c-advertisement--leaderboard {
  // Structure
  padding-top: 2rem;
  padding-bottom: 2rem;

  // Border
  border-bottom: 1px solid #EFEFEF;
}

.c-advertisement--skyscraper {

}
