.c-article-banner__image__container {
  @media only screen and (min-width: $bp-mobile) {
    // Structure
    height: 380px;

    // Extra
    overflow: hidden;
  }
}

.c-article-banner__image {
  // Structure
  display: block;
  width: 100%;
  height: auto;
  position: relative;
  padding-top: 67%;

  // Background
  background-size: cover;
  background-position: center;

  // Extra
  transition: transform 0.2s ease-in;

  @media only screen and (min-width: $bp-mobile) {
    // Structure
    height: 100%;
    width: auto;
    position: static;
    padding-top: 0;

    &:hover {
      // Extra
      transform: scale(1.01);
    }
  }
}

.c-article-banner__info {
  // Structure
  padding-top: 0.75rem;
  padding-left: 1rem;
  padding-right: 1rem;

  .c-button {
    // Structure
    display: none;
  }

  @media only screen and (min-width: $bp-mobile) {
    // Structure
    padding-top: 1.75rem;
    padding-bottom: 1.5rem;

    // Extras
    box-shadow: 0 -3px 2px 0 rgba(0,0,0,0.1);

    // Text
    text-align: center;

    .c-button {
      // Structure
      display: inline-block;
    }
  }
}

.c-article-banner__headline {
  // Structure
  margin-top: 0;
  margin-bottom: 0.25rem;

  // Text
  font-family: $font-headline;
  font-size: px-to-em(28);
  color: $color-text-body;
  line-height: 1.2em;

  a {
    // Text
    color: #272525;
    text-decoration: none;

    &:hover {
      opacity: 0.75;
    }
  }

  @media only screen and (min-width: $bp-mobile) {
    // Structure
    max-width: 650px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.5rem;
    margin-bottom: 0.75rem;
  }
}

.c-article-banner__description {
  // Structure
  max-width: 650px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.5rem;

  // Text
  font-size: px-to-em(16);
  color: $color-text-light;
  line-height: 1.5em;

  @media only screen and (min-width: $bp-mobile) {
    // Structure
    margin-bottom: 1.5rem;
  }
}
