.c-article-banner__image__container {
  // Structure
  height: 380px;

  // Extra
  overflow: hidden;
}

.c-article-banner__image {
  // Structure
  display: block;
  height: 100%;

  // Background
  background-size: cover;
  background-position: center;

  // Extra
  transition: transform 0.2s ease-in;

  &:hover {
    // Extra
    transform: scale(1.01);
  }
}

.c-article-banner__info {
  // Structure
  padding-top: 1.75rem;
  padding-bottom: 1.5rem;

  // Extras
  box-shadow: 0 -3px 2px 0 rgba(0,0,0,0.1);

  // Text
  text-align: center;
}

.c-article-banner__headline {
  // Structure
  max-width: 650px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.5rem;
  margin-bottom: 0.75rem;

  // Text
  font-family: $font-headline;
  font-size: px-to-em(36);
  color: #272525;
  letter-spacing: -0.35px;

  a {
    // Text
    color: #272525;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.c-article-banner__description {
  // Structure
  max-width: 650px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.5rem;

  // Text
  font-size: px-to-em(15);
  color: #272525;
  letter-spacing: -0.2px;
  line-height: 21px;
}
