.c-article__tag {
  // Structure
  display: block;
  margin-bottom: 0.25rem;

  // Text
  font-weight: bold;
  font-size: px-to-em(14);
  letter-spacing: px-to-em(0.5);
  text-transform: uppercase;
  color: $color-brand-primary;
}

.c-article__headline {
  // Structure
  margin-top: 0;
  margin-bottom: 0.25rem;

  // Text
  font-family: $font-headline;
  font-size: px-to-em(26);
  color: $color-text-body;
  line-height: 1.2em;

  a {
    // Text
    color: $color-text-body;
    text-decoration: none;

    &:hover {
      opacity: 0.75;
    }
  }
}

.c-article__image {
  // Structure
  display: block;
  width: 100%;
  height: auto;
  position: relative;
  padding-top: 67%;
  z-index: $z-index-1;
  overflow: hidden;

  @media only screen and (min-width: $bp-desktop) {
    // Structure
    margin-bottom: 0;
  }

  // Background
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  img {
    // Structure
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
  }
}

.c-article__info > a {
  // Structure
  display: block;

  // Text
  text-decoration: none;

  &:hover {
    // Extras
    opacity: 0.75;
  }
}

.c-article__meta {
  // Structure
  display: block;

  // Text
  font-size: px-to-em(15);
  color: $color-text-light;
  line-height: 1.65em;
}

.c-article__meta__date {
  // Text
  color: $color-text-extra-light;
}

.c-article__description {
  // Structure
  margin-top: 0.25rem;
  margin-bottom: 0;

  // Text
  font-size: px-to-em(15);
  color: $color-text-light;
  line-height: 1.5em;
}

.c-article--1 {
  .c-article__image-container {
    // Structure
    margin-bottom: 1rem;
  }

  @media only screen and (min-width: $bp-desktop) {
    // Structure
    display: flex;

    .c-article__image-container {
      // Structure
      flex: 1.61803398875; // Golden ratio
      margin-bottom: 0;
    }

    .c-article__info {
      // Structure
      flex: 1;
      padding-left: 1.5rem;
    }
  }
}

.c-article--2 {
  // Structure
  display: flex;

  .c-article__image-container {
    // Structure
    width: 6rem;
  }

  .c-article__info {
    // Structure
    flex: 1;
    padding-left: 1rem;
  }
  
  .c-article__image {
    // Structure
    padding-top: 100%;
  }

  .c-article__headline {
    // Text
    font-size: px-to-em(18);
  }

  .c-article__tag {
    // Structure
    display: none;
  }

  @media only screen and (min-width: $bp-mobile) {
    // Structure
    display: block;

    .c-article__image-container {
      // Structure
      display: none;
    }

    .c-article__headline {
      // Text
      font-size: px-to-em(22);
    }

    .c-article__tag {
      // Structure
      display: block;
    }

    .c-article__info {
      // Structure
      padding-left: 0;
    }
  }
}

.c-article--3 {
  // Structure
  display: flex;

  .c-article__image-container {
    // Structure
    width: 6rem;
  }

  .c-article__image {
    // Structure
    padding-top: 100%;
  }

  .c-article__info {
    // Structure
    flex: 1;
    padding-left: 1rem;
  }

  .c-article__headline {
    // Text
    font-size: px-to-em(18);
  }

  @media only screen and (min-width: $bp-mobile) {
    .c-article__image-container {
      // Structure
      width: 12rem;
    }

    .c-article__image {
      // Structure
      padding-top: 56%;
    }

    .c-article__headline {
      // Text
      font-size: px-to-em(22);
    }

    .c-article__info {
      // Structure
      padding-left: 1.25rem;
    }
  }
}

.c-article--4 {
  // Structure
  margin-bottom: 1.25rem;

  &:last-child {
    margin-bottom: 0;
  }

  .c-article__image-container {
    // Structure
    margin-bottom: 0.75rem;
  }

  .c-article__image {
    // Structure
    padding-top: 56%;
  }

  .c-article__headline {
    // Text
    font-size: px-to-em(20);
  }
}

.c-article--5 {
  .c-article__info {
    // Structure
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .c-article__headline {
    // Text
    font-size: px-to-em(22);
  }

  .c-article__image {
    // Structure
    padding-top: 56%;
  }
}

.c-article--6 {
  .c-article__headline {
    // Text
    font-size: px-to-em(32);
  }

  .c-article__info {
    // Structure
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .c-article__image {
    // Structure
    padding-top: 56%;
  }

  @media only screen and (min-width: $bp-desktop) {
    // Structure
    display: flex;

    .c-article__image-container {
      // Structure
      flex: 3;
      padding-right: 2rem;
    }

    .c-article__info {
      // Structure
      flex: 2;
      display: flex;
      align-items: center;
      padding-bottom: 5rem;
      padding-left: 0;
      padding-right: 0;
    }
  }
}

.c-article--page {
  .c-article__info {
    // Structure
    margin-top: 2rem;
    margin-bottom: 2rem;

    // Border
    border-bottom: 1px solid $color-border;
  }

  .c-article__tag {
    // Text
    font-size: px-to-em(18)
  }

  .c-article__headline {
    // Structure
    margin-top: 1rem;
    margin-bottom: 1rem;

    // Text
    font-size: px-to-em(32);

    @media only screen and (min-width: $bp-desktop) {
      // Text
      font-size: px-to-em(48);
    }
  }

  .c-article__meta {
    // Structure
    margin-top: 1rem;
    margin-bottom: 1rem;

    // Text
    font-size: px-to-em(16);

    @media only screen and (min-width: $bp-desktop) {
      // Text
      font-size: px-to-em(18);
    }
  }

  .c-article__social {
    // Structure
    margin-top: 2rem;
    margin-bottom: 2rem;

    // Text
    line-height: 1;
  }

  .c-article__social__icon {
    // Structure
    display: inline-block;
    margin-right: 1rem;

    // Text
    font-size: px-to-em(24);
    color: $color-text-body;

    &:last-child {
      // Structure
      margin-right: 0;
    }

    &:hover {
      // Text
      color: $color-brand-primary;
    }
  }

  .c-article__main {
    @media only screen and (min-width: $bp-mobile) {
      // Structure
      display: flex;
    }
  }

  .c-article__sidebar {
    @media only screen and (min-width: $bp-desktop) {
      // Structure
      position: relative;
      width: 300px;
      margin-bottom: 2rem;
    }
  }

  .c-article__content {
    @media only screen and (min-width: $bp-mobile) {
      // Structure
      flex: 1;
      padding-right: 4rem;
      margin-bottom: 2rem;
    }

    > *:first-child {
      // Structure
      margin-top: 0;
    }

    > p, ul {
      // Structure
      max-width: $body-width;
      width: 100%;
      margin-top: 1.75rem;
      margin-bottom: 1.75rem;

      // Text
      font-family: $font-body;
      font-size: px-to-em(18);
      line-height: 1.75em;
      color: $color-text-body;

      a {
        // Text
        color: $color-text-hyperlink;
      }
    }
  }
}
