.c-article {

}

.c-article__tag {
  font-weight: bold;
  font-size: 15px;
  color: #EB2C2C;
  letter-spacing: -0.15px;
}

.c-article__headline {
  // Structure
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;

  // Text
  font-family: $font-headline;
  font-size: 26px;
  color: #272525;
  letter-spacing: -0.3px;
  line-height: 1.2em;

  a {
    // Text
    color: #272525;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.c-article__meta {
  // Structure
  display: block;

  // Text
  font-size: 14px;
  color: #5C5C5C;
  letter-spacing: -0.15px;
  line-height: 1.5em;
}

.c-article__description {
  // Text
  font-size: 14px;
  color: #1A1A1A;
  line-height: 21px;
}

.c-article--1,
.c-article--2, {
  // Structure
  display: flex;

  .c-article__image {
    // Structure
    flex: 1.61803398875; // Golden ratio
    padding-right: 1.5rem;

    img {
      // Structure
      width: 100%;
    }
  }

  .c-article__info {
    // Structure
    flex: 1;
  }
}

.c-article--2 {
  .c-article__image {
    // Structure
    flex: 2; // Golden ratio
  }
  .c-article__info {
    // Structure
    flex: 3;
  }
}

.c-article--4 {
  // Structure
  margin-bottom: 1rem;

  &:last-child {
    margin-bottom: 0;
  }
}

.c-article--page {
  .c-article__info {
    // Structure
    margin-top: 2rem;
    margin-bottom: 2rem;

    // Border
    border-bottom: 1px solid #EFEFEF;
  }

  .c-article__tag {
    font-size: 18px;
  }

  .c-article__headline {
    // Structure
    margin-top: 1rem;
    margin-bottom: 1rem;

    // Text
    font-size: 48px;
    letter-spacing: -0.5px;
  }

  .c-article__meta {
    // Structure
    margin-top: 1rem;
    margin-bottom: 1rem;

    // Text
    font-size: 18px;
    letter-spacing: -0.22px;
  }

  .c-article__social {
    // Structure
    margin-top: 2rem;
    margin-bottom: 2rem;

    // Text
    line-height: 1;
  }

  .c-article__social__icon {
    // Structure
    display: inline-block;
    margin-right: 1rem;

    // Text
    font-size: 24px;
    color: #272525;

    &:last-child {
      // Structure
      margin-right: 0;
    }
  }

  .c-article__main {
    // Structure
    display: flex;
  }

  .c-article__sidebar {
    // Structure
    width: 300px;
  }

  .c-article__content {
    // Structure
    flex: 1;
    padding-right: 4rem;

    > *:first-child {
      // Structure
      margin-top: 0;
    }

    > p {
      // Structure
      max-width: $body-width;
      width: 100%;
      margin-top: 1.75rem;
      margin-bottom: 1.75rem;

      // Text
      font-family: $font-body;
      font-size: 17px;
      line-height: 1.6em;
      color: $color-text-body;
    }
  }
}
