.c-button {
  // Structure
  display: inline-block;
  height: 40px;
  line-height: 40px;
  padding-left: 2rem;
  padding-right: 2rem;

  // Border
  border: 2px solid $color-brand-primary;

  // Background
  background: $color-brand-primary;

  // Text
  font-weight: 600;
  font-size: px-to-em(14);
  color: #fff;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  text-decoration: none;

  &:hover {
    // Background
    background: transparent;

    // Text
    color: $color-brand-primary;
  }
}
