.c-embed--image {
  // Structure
  max-width: $body-width;
  width: 100%;

  &:first-child {
    max-width: 100%;
  }

  img {
    // Structure
    display: block;
    width: 100%;
    height: auto;
  }
}

.c-embed--image__caption {
  // Structure
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
  overflow: hidden;

  // Text
  font-size: px-to-em(14);
  color: $color-text-light;
}
