.c-embed__container {
  // Structure
  position: absolute;
  bottom: 0;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-bottom: 2rem;
}

.c-embed__overlay {
  // Structure
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  // Background
  background-image: linear-gradient(-180deg, transparent 0%, rgba(0,0,0,0.81) 100%);

  // Extras
  opacity: 1;
  transition: opacity 0.2s;
}

.c-embed__title {
  // Structure
  margin-top: 0;
  margin-bottom: 0.35rem;

  // Text
  color: #fff;
  font-size: px-to-em(32);
}

.c-embed__subtitle {
  // Structure
  margin-top: 0.35rem;
  margin-bottom: 0;

  // Text
  color: #fff;
  font-size: px-to-em(16);
  font-weight: normal;

  // Extras
  opacity: 0.75;
}

.c-embed--image {
  // Structure
  max-width: $body-width;
  width: 100%;

  &:first-child {
    max-width: 100%;
  }

  img {
    // Structure
    display: block;
    width: 100%;
    height: auto;
  }
}

.c-embed--image__caption {
  // Structure
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
  overflow: hidden;

  // Text
  font-size: px-to-em(14);
  color: $color-text-light;
}

.c-embed--gallery {
  // Structure
  width: 100%;
  max-width: 580px;

  .c-embed--gallery__cover {
    // Structure
    width: 100%;
    position: relative;
    height: 0;
    overflow: hidden;
    padding-top: 60%;

    // Background
    background-size: cover;
    background-repeat: no-repeat;

    // Extras
    cursor: pointer;

    &:hover {
      .c-embed__overlay {
        // Extra
        opacity: 0.75;
      }
    }
  }

  .c-embed--gallery__images {
    // Structure
    display: flex;
    margin-top: 0.5rem;
  }

  .c-embed--gallery__image {
    // Structure
    display: none;
    flex: 1;
    padding-left: 0.25rem;
    padding-right: 0.25rem;

    &:nth-child(2),
    &:nth-child(3),
    &:nth-child(4) {
      display: block;
    }

    &:nth-child(2) {
      padding-left: 0;
    }

    &:nth-child(4) {
      padding-right: 0;
    }

    .gallery-image {
      // Structure
      position: relative;
      height: 0;
      overflow: hidden;
      padding-top: 67%;

      // Background
      background-size: cover;
      background-repeat: no-repeat;

      // Extras
      cursor: pointer;
      opacity: 1;
      transition: opacity 0.2s;

      &:hover {
        // Extras
        opacity: 0.85;
      }
    }
  }
}
