.c-homepage__tagline {
  // Structure
  padding: 1rem; 

  // Text
  text-align: center; 
  color: $color-text-extra-light;
  font-size: px-to-em(14);

  @media only screen and (min-width: $bp-desktop) {
    // Structure
    display: none;
  }
}

@media only screen and (max-width: $bp-desktop) {
  .c-homepage {
    .c-article {
      // Structure
      padding-left: 1rem;
      padding-right: 1rem;
      padding-top: 1.25rem;
      padding-bottom: 1.25rem;

      // Border
      border-top: 1px solid $color-border;

      &.c-article--1 {
        // Structure
        padding-top: 0;
        padding-left: 0;
        padding-right: 0;

        .c-article__info {
          padding-left: 1rem;
          padding-right: 1rem;
        }
      }
    }

    .c-print-issue {
      // Structure
      padding-top: 1.5rem;
      padding-bottom: 1.5rem;

      // Border
      border-top: 1px solid $color-border;
    }

    .c-subsection {
      // Structure
      padding-bottom: 0;
    }

    .c-subsection--secondary .c-subsection__left {
      // Structure
      padding-bottom: 0;
    }

    .c-subsection__title {
      // Structure
      padding-left: 1rem;
      padding-right: 1rem;
    }

    .c-advertisement {
      // Structure
      padding-bottom: 2rem;
    }
  }
}
