.c-large-header {
  // Structure
  display: none;

  @media only screen and (min-width: $bp-desktop) {
    // Structure
    display: block;
  }

  // Border
  border-bottom: 1px solid #EFEFEF;

  // Extras
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.1);

  // Text
  text-align: center;
}

.c-large-header__banner {
  // Structure
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.c-large-header__logo {
  // Structure
  display: inline-block;
  height: 60px;
  width: 300px;
  margin-bottom: 0.35rem;

  // Background
  background-image: url('../images/phoenix-logo.svg');
  background-size: 100%;
  background-repeat: no-repeat;
}

.c-large-header__tagline {
  // Structure
  margin: 0;

  // Text
  font-size: 13px;
  color: #888888;
}

.c-large-header__nav {
  // Border
  border-top: 1px solid #EFEFEF;

  ul {
    // Structure
    list-style-type: none;
    padding: 0;
    margin: 0;

    // Text
    text-align: center;
  }
}

.c-large-header__nav__item,
.c-large-header__social__item {
  // Structure
  display: inline-block;

  a {
    // Structure
    display: block;
    height: 50px;
    line-height: 50px;
    padding-left: 1rem;
    padding-right: 1rem;

    // Text
    font-weight: bold;
    font-size: 14px;
    color: #272525;
    letter-spacing: -0.15px;
    text-decoration: none;

    &:hover {
      // Text
      color: red;
    }
  }
}

.c-large-header__social__item {
  a {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}
