.c-latest-podcast {
  // Structure
  padding-top: 1rem;
  padding-bottom: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;

  // Background
  background: #272727;
  
  @media only screen and (min-width: $bp-desktop) {
    // Structure
    margin-top: 2rem;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;

    // Background
    background: transparent;
  }
}

.c-latest-podcast__info {
  // Structure
  flex: 1;
  margin-top: 1rem;
}

.c-latest-podcast__label {
  // Structure
  margin-bottom: 0.5rem;

  // Text
  font-weight: 600;
  font-size: px-to-em(14);
  letter-spacing: px-to-em(0.5);
  text-transform: uppercase;
  color: $color-brand-primary;
}

.c-latest-podcast__title {
  // Structure
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;

  // Text
  font-size: px-to-em(18);
  color: #fff;

  @media only screen and (min-width: $bp-desktop) {
    // Text
    color: $color-text-dark;
  }
}

.c-latest-podcast__description {
    // Structure
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  
    // Text
    font-size: px-to-em(15);
    color: #fff;
    line-height: 1.5em;

    @media only screen and (min-width: $bp-desktop) {
      // Text
      color: $color-text-light;
    }
}


.c-latest-podcast__link {
  // Text
  color: #fff;

  @media only screen and (min-width: $bp-desktop) {
    // Text
    color: $color-text-extra-light;
  }
}
