.c-newsletter {
  // Structure
  margin-top: 2rem;
  padding: 1.5rem;

  // Border
  border: 1px solid $color-border;
}

.c-newsletter__title {
  // Structure
  margin-top: 0;
}

.c-newsletter__form {

  input[type="email"] {
    // Structure
    flex: 1;
    width: 100%;
    box-sizing: border-box;
    height: 40px;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    margin-bottom: 1rem;

    // Border
    border-top: 1px solid $color-border;
    border-right: 1px solid $color-border;
    border-bottom: 1px solid $color-border;
    border-left: 1px solid $color-border;

    // Text
    font-size: px-to-em(16);
  }

  input[type="submit"] {
    // Structure
    padding-top: 0;
    padding-bottom: 0;
    width: 100%;

    // Text
    line-height: 1;
    font-weight: bold;

    // Extra
    cursor: pointer;
    -webkit-appearance: none;
  }

  @media only screen and (min-width: $bp-tablet) {
    // Struture
    display: flex;

    input[type="email"] {
      // Structure
      margin-bottom: 0;

      // Border
      border-right: none;
      border-bottom: 1px solid $color-border;
    }

    input[type="submit"] {
      // Structure
      width: auto;
    }
  }
}
