.c-print-issue {
  // Structure
  display: flex;
  padding-left: 1rem;
  padding-right: 1rem;

  @media only screen and (min-width: $bp-desktop) {
    // Structure
    display: block;
    padding-left: 0;
    padding-right: 1.5rem;
  }
}

.c-print-issue__image {
  // Structure
  display: block;
  padding: 10px;
  width: 20rem;

  // Border
  border: 1px solid $color-border;

  // Extra
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.05);

  img {
    // Structure
    display: block;
    width: 100%;
    height: auto;
  }

  @media only screen and (min-width: $bp-desktop) {
    // Structure
    width: auto;
  }
}

.c-print-issue__info {
  // Structure
  margin-top: 1rem;
  padding-left: 1rem;

  @media only screen and (min-width: $bp-desktop) {
    // Structure
    padding-left: 0;
  }
}

.c-print-issue__label {
  // Structure
  margin-bottom: 0.5rem;

  // Text
  font-weight: 600;
  font-size: px-to-em(14);
  letter-spacing: px-to-em(0.5);
  text-transform: uppercase;
  color: $color-brand-primary;
}

.c-print-issue__title {
  // Structure
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;

  // Text
  font-size: px-to-em(18);
  color: $color-text-dark;
}

.c-print-issue__description {
    // Structure
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  
    // Text
    font-size: px-to-em(15);
    color: $color-text-light;
    line-height: 1.5em;
}