.c-print-issue {
  // Structure
  padding-left: 1.5rem;
  padding-right: 1.5rem;

  // Text
  text-align: center;
}

.c-print-issue__label {
  // Structure
  margin-top: 0;
}

.c-print-issue__image {
  // Structure
  width: 100%;
  height: auto;

  // Extra
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}

.c-print-issue__title {
  // Structure
  margin-top: 0.75rem;

  // Text
  font-size: px-to-em(18);
  color: $color-text-dark;
  letter-spacing: -0.2px;
}
