.c-related-articles {
  // Structure
  margin-bottom: 3rem;

  // Border
  border-top: 1px solid $color-border;
}

.c-related-articles__title {
  // Structure
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;

  // Text
  font-size: px-to-em(28);
  color: $color-text-dark;
  letter-spacing: -0.35px;
}
