.c-section__title {
  // Structure
  margin-bottom: 1rem;

  // Text
  font-size: 36px;
  text-align: center;
}

.c-section__topics {
  // Border
  border-top: 1px solid #EFEFEF;
  border-bottom: 1px solid #EFEFEF;

  ul {
    // Structure
    list-style-type: none;
    padding: 0;
    margin: 0;

    // Text
    text-align: center;
  }
}

.c-section__topics__item {
  // Structure
  display: inline-block;
  height: 4rem;
  margin-left: 0.8rem;
  margin-right: 0.8rem;
  position: relative;

  // Text
  color: #ed1d24;
  font-size: 16px;
  font-weight: 600;

  &:not(:last-child):after {
    content: '\B7';
    position: absolute;
    top: 0;
    bottom: 0;
    height: 4rem;
    line-height: 4rem;
    right: -1rem;
    width: 0.2rem;
    text-align: center;
  }

  a {
    display: block;
    line-height: 4rem;
  }
}

.c-section__primary {
  // Structure
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.c-section__archive {
  ul {
    // Structure
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    margin-left: -0.75rem;
    margin-right: -0.75rem;

    li {
      // Structure
      margin-bottom: 1.5rem;
      width: 25%;

      > div {
        // Structure
        height: 100%;
        display: flex;
        padding-left: 0.75rem;
        padding-right: 0.75rem;
      }

      .c-article {
        // Border
        border: 1px solid #efefef;
        border-radius: 2px;

        // Extras
        box-shadow: 0 0 4px rgba(0, 0, 0, 0.03);

        .c-article__image-container {
          // Structure
          height: 8rem;
          overflow: hidden;
        }

        .c-article__info {
          // Structure
          padding-left: 1rem;
          padding-right: 1rem;
        }

        .c-article__headline {
          // Text
          font-size: 20px;
        }
      }
    }
  }
}

.c-section__archive__title {
  // Structure
  padding-bottom: 1rem;

  // Text
  font-size: 24px;

  // Border
  border-bottom: 1px solid #EFEFEF;
}
