.c-section__title {
  // Structure
  margin-top: 1rem;
  margin-bottom: 1rem;

  // Text
  font-size: px-to-em(28);
  color: $color-text-dark;

  @media only screen and (min-width: $bp-desktop) {
    // Structure
    margin-top: 1.5rem;
    margin-bottom: 0.75rem;

    // Text
    font-size: px-to-em(48);
  }
}

.c-section__subtitle {
  // Structure
  margin-top: 0;
  margin-bottom: 0.5rem;

  // Text
  font-size: px-to-em(18);
  font-weight: normal;
  color: $color-text-light;
}

.c-section__heading {
  // Structure
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;

  // Text
  font-size: px-to-em(24);
  color: $color-text-dark;

  .fas {
    // Structure
    margin-right: 0.5rem;
  }
}

.c-section__topics {
  ul {
    // Structure
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  .c-topic {
    // Structure
    display: inline-block;
    margin-top: 1rem;
    margin-right: 0.25rem;
    margin-bottom: 1rem;
    margin-left: 0.25rem;
    position: relative;

    padding: 0.25rem 0.5rem;
    border-radius: 3px;

    background: $color-brand-primary;

    opacity: 0.75;

    &:first-child {
      margin-left: 0;
    }

    // Text
    font-size: px-to-em(14);
    letter-spacing: px-to-em(0.5);
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;

    &:hover {
      opacity: 1;
    }

    a {
      // Structure
      display: block;

      // Text
      color: $color-brand-primary;
      line-height: 2rem;
      text-decoration: none;

      &:hover {
        // Text
        text-decoration: underline;
      }
    }

    &.c-topic--selected {
      a {
        // Structure
        padding-left: 0.5rem;
        padding-right: 0.5rem;

        // Background
        background: red;

        // Border
        border-radius: 2px;

        // Text
        color: #fff;
      }
    }
  }
}

.c-section__primary {
  // Structure
  margin-bottom: 1.5rem;

  @media only screen and (min-width: $bp-desktop) {
    // Structure
    margin-top: 1.5rem;
    margin-bottom: 2rem;
  }
}

.c-section__archive {
  ul {
    // Structure
    list-style-type: none;
    padding: 0;
    margin: 0;

    @media only screen and (min-width: $bp-desktop) {
      // Structure
      display: flex;
      flex-wrap: wrap;
      margin-left: -0.75rem;
      margin-right: -0.75rem;

      li {
        // Structure
        margin-bottom: 1.5rem;
        width: 25%;
      }
    }

    li {
      // Structure
      margin-bottom: 1rem;

      &:last-child {
        // Structure
        margin-bottom: 0;
      }

      > a {
        // Structure
        display: flex;

        // Text
        text-decoration: none;

        @media only screen and (min-width: $bp-desktop) {
          padding-left: 0.75rem;
          padding-right: 0.75rem;
        }
      }

      .c-article {
        // Structure
        display: flex;
        width: 100%;

        // Border
        border: 1px solid $color-border;
        border-radius: 2px;

        .c-article__image-container {
          // Structure
          width: 7rem;
          overflow: hidden;
        }

        .c-article__image {
          // Structure
          padding-top: 100%;
          margin-bottom: 0;
        }

        .c-article__info {
          // Structure
          flex: 1;
          margin-top: 0.75rem;
          margin-bottom: 0.75rem;
          padding-left: 1rem;
          padding-right: 1rem;
        }

        .c-article__headline {
          // Text
          margin-bottom: 0.25rem;
          font-size: px-to-em(18);
        }

        .c-article__meta {
          // Text
          font-size: px-to-em(13);
        }

        @media only screen and (min-width: $bp-desktop) {
          // Structure
          display: block;

          .c-article__image-container {
            // Structure
            width: auto;
          }

          .c-article__image {
            // Structure
            padding-top: 56%;
            margin-bottom: 0;
          }
        }
      }
    }
  }
}

.c-section__archive__title {
  // Structure
  padding-bottom: 0.75rem;

  @media only screen and (min-width: $bp-desktop) {
    // Structure
    margin-bottom: 1.5rem;
  }

  // Text
  font-size: px-to-em(24);
  color: $color-text-dark;

  // Border
  border-bottom: 1px solid $color-border;

  .fas {
    // Structure
    margin-right: 0.5rem;
  }

}

.c-section__pagination {
  // Structure
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;

  // Text
  text-align: center;
}


.c-section__pagination__current {
  // Structure
  margin-bottom: 1rem;

  // Text
  color: #808080;
}

.c-section__pagination__pages {
  .c-button {
    width: 5rem;
  }
}
