$header-height: 57px;

.c-small-header {
  // Structure
  display: none;
  height: $header-height;

  @media only screen and (min-width: $bp-desktop) {
    // Structure
    display: block;
  }
}

.c-small-header__wrapper {
  // Structure
  position: fixed;
  height: $header-height;
  width: 100%;
  z-index: $z-index-2;

  // Background
  background: #fff;

  // Border
  border-bottom: 1px solid #efefef;

  // Extras
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.025);
}

.c-small-header__container {
  // Text
  text-align: center;

  @media only screen and (min-width: 900px) {
    // Structure
    display: flex;

    // Text
    text-align: left;
  }
}

.c-small-header__logo {
  // Structure
  display: inline-block;
  height: $header-height;
  width: 140px;
  margin-right: 1rem;

  // Background
  background-image: url('../images/phoenix-logo.svg');
  background-size: 100%;
  background-position: left 42%;
  background-repeat: no-repeat;

  &:hover {
    background-image: url('../images/phoenix-logo-red.svg');
  }
}

.c-small-header__nav {
  // Structure
  flex: 1;
  padding-left: 0.5rem;

  ul {
    // Structure
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
}

.c-small-header__nav__item {
  // Structure
  display: inline-block;

  a {
    // Structure
    display: block;
    height: $header-height;
    line-height: $header-height;
    padding-left: 0.5rem;
    padding-right: 0.5rem;

    // Text
    font-weight: bold;
    font-size: px-to-em(15);
    color: $color-text-body;
    text-decoration: none;

    &:hover {
      // Text
      color: red;
    }
  }
}

.c-small-header__social {
  ul {
    // Structure
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
}

.c-small-header__social__item {
  // Structure
  display: inline-block;

  a {
    // Structure
    display: block;
    height: $header-height;
    line-height: $header-height;

    // Text
    font-size: px-to-em(16);
    color: $color-text-body;
    text-decoration: none;

    &:hover {
      // Text
      color: red;
    }
  }
}
