.c-subsection {
  // Structure
  padding-bottom: 2rem;

  // Border
  border-bottom: 1px solid #EFEFEF;

  &:last-child {
    // Border
    border-bottom: none;
  }
}

.c-subsection__title {
  // Structure
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;

  // Text
  font-weight: bold;
  font-size: 28px;
  color: #272525;
  letter-spacing: -0.35px;
}

.c-subsection__body {
  // Structure
  display: flex;
}

.c-subsection__left {
  // Structure
  flex: 1;
  padding-right: 1.5rem;
  margin-right: 1.5rem;

  // Border
  border-right: 1px solid #EFEFEF;
}

.c-subsection__right {
  // Structure
  width: 300px;
}

.c-subsection__full {
  // Structure
  flex: 1;
}

.c-subsection__row {
  // Structure
  display: flex;
  margin-top: 1.5rem;
}

.c-subsection__row__item {
  // Structure
  flex: 1;

  &:first-child {
    // Structure
    padding-right: 1.5rem;
    border-right: 1px solid #EFEFEF;
  }

  &:last-child {
    // Structure
    padding-left: 1.5rem;
  }
}

.c-subsection__footer {
  // Structure
  display: flex;
  padding-top: 1.5rem;

  // Text
  text-align: right;

  .c-subsection__left {
    border-right: none;
  }
}
