@font-face {
    font-family: 'Noto Sans';
    src: url('../fonts/../fonts/notosans-regular.eot');
    src: url('../fonts/../fonts/notosans-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/../fonts/notosans-regular.woff') format('woff'),
         url('../fonts/../fonts/notosans-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Noto Sans';
    src: url('../fonts/notosans-italic.eot');
    src: url('../fonts/notosans-italic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/notosans-italic.woff') format('woff'),
         url('../fonts/notosans-italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Noto Sans';
    src: url('../fonts/notosans-bold.eot');
    src: url('../fonts/notosans-bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/notosans-bold.woff') format('woff'),
         url('../fonts/notosans-bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Noto Sans';
    src: url('../fonts/notosans-bolditalic.eot');
    src: url('../fonts/notosans-bolditalic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/notosans-bolditalic.woff') format('woff'),
         url('../fonts/notosans-bolditalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Athelas';
    src: url('../fonts/athelas-regular.woff') format('woff'),
         url('../fonts/athelas-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Athelas';
    src: url('../fonts/athelas-italic.woff') format('woff'),
         url('../fonts/athelas-italic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Athelas';
    src: url('../fonts/athelas-bold.woff') format('woff'),
         url('../fonts/athelas-bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
