// Fonts
$font-default: 'phx-kievit', 'Helvetica', Arial, sans-serif;
$font-headline: 'phx-athelas', Georgia, serif;
$font-body: Georgia, serif;

$base-font-size: 16;

// Utility function to convert pixel units to em
@function px-to-em($px){
  @return ($px / $base-font-size) + rem
};

// Colors
$color-brand-primary: #eb2c2c;

$color-text-body: #262626;
$color-text-dark: #1a1a1a;
$color-text-light: #424242;
$color-text-extra-light: #7d7d7d;

$color-text-hyperlink: #326fd0;

$color-border: #efefef;

// Z-Index scale
$z-index-1: 100;
$z-index-2: 200;
$z-index-3: 300;
$z-index-4: 400;

// Breakpoints
$bp-mobile: 600px;
$bp-tablet: 758px;
$bp-desktop: 900px;

// Misc
$body-width: 580px;
