// Fonts
$font-default: 'Noto Sans', 'Helvetica', Arial, sans-serif;
$font-headline: 'Athelas', Georgia, serif;
$font-body: Georgia, serif;

// Colors
$color-text-body: #262626;

// Z-Index scale
$z-index-1: 100;
$z-index-2: 200;
$z-index-3: 300;
$z-index-4: 400;

// Breakpoints
$bp-mobile: 600px;
$bp-tablet: 758px;
$bp-desktop: 900px;

// Misc
$body-width: 580px;
