body {
  // Structure
  margin: 0;

  // Background
  background: #353535;

  // Text
  font-family: $font-default;
  font-size: $base-font-size + px;
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
