<div class="c-embed c-embed--gallery" style="background-image: url('{{ images.first.image.get_medium_url }}');">
  <div class="c-embed__overlay"></div>
  <div class="c-embed__container">
    <h2 class="c-embed__title">{{ title }}</h2>
    <h3 class="c-embed__subtitle">Gallery&nbsp;&middot;&nbsp;{{ images|length }} images</h3>
  </div>
  <div class="c-embed--gallery__images">
    {% for attachment in images %}
      <div class="gallery-image" data-id="{{ attachment.id }}" data-url="{{ attachment.image.get_medium_url }}" data-caption="{{ attachment.caption|safe }}"></div>
    {% endfor %}
  </div>
</div>
