{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'main-0.0.22.css' %}" type="text/css"/>

    <link rel="shortcut icon" href="{% static 'favicon.ico' %}" />
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon-32x32.png' %}" />
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon-16x16.png' %}" />

    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({
        google_ad_client: "ca-pub-3536737186163353",
        enable_page_level_ads: true
      });
    </script>

    <script async='async' src='https://www.googletagservices.com/tag/js/gpt.js'></script>
    <script>
      var googletag = googletag || {};
      googletag.cmd = googletag.cmd || [];
    </script>

    <script>
      googletag.cmd.push(function() {
        googletag.defineSlot('/21704376897/Leaderboard', [728, 90], 'div-gpt-ad-1524205003572-0').addService(googletag.pubads());
        googletag.defineSlot('/21704376897/SidebarA', [[300, 600], [300, 250]], 'div-gpt-ad-1524205003572-1').addService(googletag.pubads());
        googletag.defineSlot('/21704376897/SidebarB', [[300, 600], [300, 250]], 'div-gpt-ad-1524205003572-2').addService(googletag.pubads());
        googletag.defineSlot('/21704376897/SidebarC', [[300, 250], [300, 600]], 'div-gpt-ad-1524207074905-0').addService(googletag.pubads());
        googletag.pubads().enableSingleRequest();
        googletag.pubads().collapseEmptyDivs()
        googletag.enableServices();
      });
    </script>
  </head>
  <body>
    {% block body %}{% endblock %}
    <script type="text/javascript" src="{% static 'index-0.0.22.js' %}"></script>
    {% block scripts %}{% endblock %}
  </body>
</html>
