{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'main-0.0.18.css' %}" type="text/css"/>

    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({
        google_ad_client: "ca-pub-3536737186163353",
        enable_page_level_ads: true
      });
    </script>
  </head>
  <body>
    <div class="c-wrapper">
    {% block body %}{% endblock %}
    </div>

    <script type="text/javascript" src="{% static 'index-0.0.18.js' %}"></script>
  </body>
</html>
