{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <title>{{ meta.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta property="og:title" content="{{ meta.title }}">
    <meta property="og:description" content="{{ meta.description }}">
    <meta property="og:image" content="{{ meta.image }}">
    <meta property="og:url" content="{{ meta.url }}">
    <meta name="twitter:card" content="summary_large_image">

    <meta property="og:site_name" content="The Phoenix News">

    <link rel="stylesheet" href="{% static 'main-0.0.52.css' %}" type="text/css"/>

    <link rel="shortcut icon" href="{% static 'favicon.ico' %}" />
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon-32x32.png' %}" />
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon-16x16.png' %}" />

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-126475790-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-126475790-1');
    </script>

    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({
        google_ad_client: "ca-pub-3536737186163353",
        enable_page_level_ads: true
      });
    </script>

    <script async='async' src='https://www.googletagservices.com/tag/js/gpt.js'></script>
    <script>
      var googletag = googletag || {};
      googletag.cmd = googletag.cmd || [];
    </script>

    <script>
      googletag.cmd.push(function() {
        googletag.defineSlot('/21704376897/Leaderboard', [[970, 90], [728, 90]], 'div-gpt-ad-1524205003572-0').addService(googletag.pubads());
        googletag.defineSlot('/21704376897/Mobile_Leaderboard', [320, 50], 'div-gpt-ad-1530722739897-0').addService(googletag.pubads());
        googletag.defineSlot('/21704376897/SidebarA', [[300, 600], [300, 250]], 'div-gpt-ad-1524205003572-1').addService(googletag.pubads());
        googletag.defineSlot('/21704376897/SidebarB', [[300, 600], [300, 250]], 'div-gpt-ad-1524205003572-2').addService(googletag.pubads());
        googletag.defineSlot('/21704376897/SidebarC', [[300, 250], [300, 600]], 'div-gpt-ad-1524207074905-0').addService(googletag.pubads());
        googletag.pubads().enableSingleRequest();
        googletag.pubads().collapseEmptyDivs()
        googletag.enableServices();
      });
    </script>
  </head>
  <body>
    {% block body %}{% endblock %}
    <div id="js-galleries"></div>
    <script type="text/javascript" src="{% static 'index-0.0.52.js' %}"></script>
    {% block scripts %}{% endblock %}
  </body>
</html>
