{% extends 'base.html' %}

{% load staticfiles %}
{% load static %}

{% block body %}

<link rel="stylesheet" href="{% static 'main-0.0.22.css' %}" type="text/css"/>

<div class="c-issue">
  <div class="c-issue__header">
    <div class="c-issue__header__left">
      <a class="c-issue__header__logo" href="{% url 'homepage' %}"></a>
    </div>
    <div class="c-issue__header__center">
      <h1 class="c-issue__title">{{ issue.title}}</h1>
      <h2 class="c-issue__subtitle">{{ issue.date|date:"F j, Y" }}</h2>
    </div>
    <div class="c-issue__header__right"></div>
  </div>
  <div class="c-issue__viewer">
    <div id="js-pdf" data-url='{% get_media_prefix %}{{ issue.file }}' data-worker='{% static 'pdf.worker-0.0.22.js' %}'></div>
  </div>
</div>

<style>
html, body {
  background: #191919;
  height: 100%;
  padding: 0;
  margin: 0;
}
</style>

{% endblock %}

{% block scripts %}
<script src="{% static 'pdf-0.0.22.js' %}" type="text/javascript"></script>
{% endblock %}
