{% extends 'base.html' %}
{% load dispatch_tags %}
{% load phoenix %}

{% block body %}
<div class="c-wrapper">

  {% include 'components/small-header.html' %}
  {% include 'components/mobile-header.html' %}

  <div class="c-section c-container">
    {% include 'components/advertisement-leaderboard.html' %}

    <h1 class="c-section__title">{{ section.name }}</h1>
    <!-- <h3 class="c-section__subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</h3> -->

    <div class="c-section__primary">
      {% include 'components/article-6.html' with article=articles.primary %}
    </div>

    <h3 class="c-section__heading">
      <i class="fas fa-fire"></i>Latest stories
    </h3>

    <div class="c-section__secondary c-articles-list">
      {% for article in articles.secondary %}
        <a href="{% article_url article %}">
          {% include 'components/article-5.html' with article=article %}
        </a>
      {% endfor %}
    </div>
    <div class="c-section__archive" id="archive">
      <h2 class="c-section__archive__title">Archive</h2>
      <ul>
        {% for article in articles.archive %}
          <li>
            <a href="{% article_url article %}">
              {% include 'components/article-5.html' with article=article %}
            </a>
          </li>
        {% endfor %}
      </ul>
      <div class="c-section__pagination">
        <div class="c-section__pagination__current">
          Page {{ articles.archive.number }} of {{ articles.archive.paginator.num_pages }}
        </div>
        <div class="c-section__pagination__pages">
        {% if articles.archive.has_previous %}
          <a class="c-button" href="?page={{ articles.archive.previous_page_number }}#archive">Previous</a>
        {% endif %}
        {% if articles.archive.has_next %}
          <a class="c-button" href="?page={{ articles.archive.next_page_number }}#archive">Next</a>
        {% endif %}
        </div>
      </div>
    </div>
  </div>

  {% include 'components/footer.html' %}
</div>
{% endblock %}
