{% extends 'base.html' %}

{% block body %}

{% include 'components/small-header.html' %}

<div class="c-section c-container">
  <h1 class="c-section__title">{{ section.name }}</h1>
  <nav class="c-section__topics">
    <ul>
      <li class="c-section__topics__item"><a>Lifestyle</a></li>
      <li class="c-section__topics__item"><a>Elections</a></li>
      <li class="c-section__topics__item"><a>Topic 2</a></li>
      <li class="c-section__topics__item"><a>Topic topic</a></li>
      <li class="c-section__topics__item"><a>New topic test</a></li>
    </ul>
  </nav>
  {% include 'components/advertisement-leaderboard.html' %}
  <div class="c-section__primary">
    {% include 'components/article-6.html' with article=articles.primary %}
  </div>
  <div class="c-section__secondary c-articles-list">
    {% for article in articles.secondary %}
      {% include 'components/article-5.html' with article=article %}
    {% endfor %}
  </div>
  <div class="c-section__archive">
    <h2 class="c-section__archive__title">Archive</h2>
    <ul>
      {% for article in articles.archive %}
        <li><div>{% include 'components/article-5.html' with article=article %}</div></li>
      {% endfor %}
    </ul>
  </div>
</div>

{% include 'components/footer.html' %}

{% endblock %}
